@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --sb-track-color: rgb(224, 224, 224);
    --sb-thumb-color: gray;
    --sb-size: 9px;
    --radius: 1rem;
    --tw-shadow: 0px 1px 6px #2222222e;
    --tw-shadow-colored: 0px 1px 6px var(--tw-shadow-color);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gapper{
  width: 1.2px;
    min-width: 1.2px;
    height: 24px;
    background: var(--NN100, #E4EBF5);
    margin: 0px;
}


.bg-pattern-1{
background-color: #e5e5f7;
opacity: 0.8;
background-image:  radial-gradient(#444cf7 1.6px, transparent 1.6px), radial-gradient(#444cf7 1.6px, #e5e5f7 1.6px);
background-size: 64px 64px;
background-position: 0 0,32px 32px;
}


.container {
  display: flex;
  flex-direction: row;
}
.btn {
  --primary: #ff184c;
  --shadow-primary: #fded00;
  --color: black;
  --font-size: 12px;
  --shadow-primary-hue: 180;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
  --border: 5px;
  --shimmy-distance: 5;
  color: var(--color);
  text-transform: uppercase;
  font-size: var(--font-size);
  letter-spacing: 3px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  text-align: center; 
}

.shaper{
  clip-path: polygon(0 79%, 0 0, 82% 0, 100% 24%, 100% 100%, 16% 100%);
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 32px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 32px;
}

.scrolllist::-webkit-scrollbar {
  width: var(--sb-size);
  height: 20px;
}
.scrolllist::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 32px;
  margin-left: 38vw;
  margin-right: 38vw;
}
.scrolllist::-webkit-scrollbar-thumb {
  background: white;
  border: 5px solid var(--sb-track-color);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.ds-shadow-card, .ds-shadow-none,.ds-shadow-card-nohover {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ds-shadow-card {
  --tw-shadow: 0px 0px 6px #2222222e;
  --tw-shadow-colored: 0px 1px 6px var(--tw-shadow-color);
}
.ds-shadow-card:hover {
  --tw-shadow: 0px 0px 20px #2222222e;
  --tw-shadow-colored: 0px 1px 6px var(--tw-shadow-color);
}
.ds-shadow-card-nohover {
  --tw-shadow: 0px 0px 6px #2222222e;
  --tw-shadow-colored: 0px 1px 6px var(--tw-shadow-color);
}


.ds-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.modal{
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
table{
  border-radius: 2;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.th{
 padding: 8px;
 text-align: left
}
.td{
    padding: 8px;
    text-align: left ;
    

}
